html{
  scroll-behavior: smooth;
}
body{
  text-align: center;
    border-top: solid red 5px;
    border-bottom: solid red 5px;
    font-family: "Roboto";
    background: url("bg.png");
}
.aaa{
  color: grey;
  font-size: 30px;
  line-height: 40px;

}
.button{
  position: relative;
  z-index: 99;
}
.intro{
  background-color:#faf4ff;
  padding: 0 10% 7%;
}
.myimg{
  width: 50%;
}
h1{
  color: white;
  font-size: 4rem;
  font-weight: 900;
  margin: 110px auto 0;
}
.logoback{
  border-radius: 100%;
  border-style: double;
  border-color: orange;
  border-width: 5px;
  width: 50px;
  height: 50px;
  margin: auto;
  background: lightgrey;
  position: absolute;
  top: 50px;
  left: 48.5%;
}
.logo{
  height: 60px;
  position: absolute;
  top: -8px;
  left: -35%;
}
.gototop{


  right: 50px;
  position: sticky;
  top: 85%;

  height: 50px;
  width: 60px;
  margin: -50px 0 0 90%;
  z-index: 999

}
.topbuttons .btn{
  margin: 10px 10px;
  width: 130px;
}

.mnavbar{

}
.navlogo{
  height: 100px;
  position: absolute;
  left: 10%;
  top: -22px;
}
.navbar{
  margin-right: 10%;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #543864;
  z-index: 10;
}
.custombtn{
  height: 50px;
  color: silver;
  position: relative;
  top: 0px;
  right: 0px;
  width: 150px;
  border-style: none;
  background-color: inherit;
  border-bottom: solid darkgrey 5px;
}
.custombtn:hover{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
.logoshadow{
  margin: 0;
  left: -30px;
  top: 0;
  position: absolute;
  height: 50px;
  width: 25%;
  z-index: 10;
}
.logoshadow:hover{
  box-shadow: 10px 0px 5px;
}
.yelline{
  height: 0px;
  width: 100%;
  box-shadow: 0 0px 60px 30px #543864;
  margin: 0;
  z-index: 5;
}

.mainsec{
  background-color:#323232;
  padding: 0 0 100px 0;
}
.carousel-control-next, .carousel-control-prev{
  visibility: hidden;
}
.carousel-item{
  padding: 0 10%;
}
.mainsec-{
    background-color:#323232;
  padding: 0;
  height: 800px;
}
.nbuttons{
  position: sticky;
  top: 38%;
  height: 50px;
  width: 60px;
  margin: -100px 0 -450px 95%;
  z-index: 999
}
.android{
  width: 260px;
}
.windowsp{
  margin: 100px auto 32px;
  width: 230px;
}
.carousel-item p{
  color: white;
  font-size: 2rem;
  font-weight: 300;
}
.carousel-indicators{
  width: 20%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.2);
  border-radius: 40%;
}
.container-fluid{
  position:relative;
  top: -300px;
  height: 1000px;
  margin-bottom: -300px;
}
.container-fluid .row{
  margin: 100px auto 0;
  position: sticky;
  top: 70px;
  border-bottom: solid 5px black;
  width: 70%;
}
.container-fluid h2{
  margin: auto;
  font-size: 70px;
  font-weight: 100;
}
.card{
  margin: 0 10% 0;
}
.container-fluid .fab{
  font-size: 100px;
  margin: 50px 0;
}
.container-fluid .fa-windows{
  color: #00a2ed;
}
.play{
  margin: 54px auto;
  width: 80px;
}
.btn-group{
  width: 100%;
}
.btn-primary{
  background-color: #00a2ed;
}
.btn-danger{
  border-radius: 100%;
  width: 70px;
  height: 70px;
  z-index: 99;
}
.reviews{
  background-color: #543864;
  height: 800px;
  padding: 0%;
}
.reviews h1{
  padding: 5% 20%;
}

.revimg{
  text-align: center;
  border-radius: 100%;
  margin: 0 10px;
}
.reviews em{
  font-size: 1rem;
  color: white;
  width: 300px;
  line-height: 150px;
  margin: 0 auto;
}
.projects{
  padding: 10% 15%;
}
.imgg{
  height: 250px;
}
.btn-outline-danger{
  width: 80%;
}
.downloads{
  padding: 5%;
  height: 500px;
  background-color: #204051;
}
.downloads .btn-group{
  width: 20%;
  margin: 5% 3%;
}
.downloads .play{
  width: 20px;
  margin: 0;
  padding: 0;
}
.fa-twitter, .fa-facebook-f, .fa-instagram, .fa-envelope {
  padding: 20px;
  font-size: 25px;
}
.ftrt{
  color: #8f8f8f;
  font-size: 17px;
  font-weight: 500;
}
.fa-twitter:hover{
  color: #00acee;
  transform: scale(1.5);
}
.fa-facebook-f:hover{
  color: #3b5998;
  transform: scale(1.5);
}
.fa-instagram:hover{
  color: #bc2a8d;
  transform: scale(1.5);
}
.fa-envelope:hover{
  color: #ff4c68;
  transform: scale(1.5);
}
.ftrt:hover{
  color: silver;
}
.footer{
  background-color: #faf4ff;
padding: 10%;
}
